[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "ext/plog"]
	path = ext/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
