[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "ext/plog"]
	path = ext/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/thread-pool"]
	path = ext/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "ext/FFmpeg"]
	path = ext/FFmpeg
	url = https://github.com/yaasdf/FFmpeg
	branch = lib
[submodule "ext/re2"]
	path = ext/re2
	url = https://github.com/google/re2
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/taocpp/json
[submodule "ext/tidy-html5"]
	path = ext/tidy-html5
	url = https://github.com/htacg/tidy-html5
[submodule "ext/cereal"]
	path = ext/cereal
	url = https://github.com/USCiLab/cereal
