/* KHTML fix stylesheet */
/* work around the horizontal scrollbars */
#column-content { margin-left: 0; }

/*
     FILE ARCHIVED ON 16:19:50 Apr 02, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:52:25 Aug 23, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.202
  PetaboxLoader3.datanode: 75.367 (4)
  LoadShardBlock: 52.15 (3)
  load_resource: 33.47
  RedisCDXSource: 0.6
  captures_list: 70.435
  exclusion.robots: 0.214
  CDXLines.iter: 14.728 (3)
  esindex: 0.009
*/