<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="openssl-vc140-static-32_64" version="1.1.1.1" targetFramework="native" />
  <package id="sdl2.nuget" version="2.0.10" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.0.10" targetFramework="native" />
  <package id="sdl2_image.nuget" version="2.0.5" targetFramework="native" />
  <package id="sdl2_image.nuget.redist" version="2.0.5" targetFramework="native" />
  <package id="sdl2_ttf.nuget" version="2.0.15" targetFramework="native" />
  <package id="sdl2_ttf.nuget.redist" version="2.0.15" targetFramework="native" />
</packages>